#**
 *  Render a complex document in the results list
 *#

## Load Mime-Type List and Mapping
#parse('mime_type_lists.vm')
## Sets:
## * supportedMimeTypes, AKA supportedtypes
## * mimeExtensionsMap, AKA extMap

## Title
#if($doc.getFieldValue('title'))
  ## Article
  #set($title = "Article - [" + $esc.html($doc.getFirstValue('title')) + "]")
#end

## URL
## #if($doc.getFieldValue('url'))
##   #set($url = $doc.getFieldValue('url'))
## #elseif($doc.getFieldValue('resourcename'))
##   #set($url = "file:///$doc.getFieldValue('resourcename')")
## #else
##   #set($url = "$doc.getFieldValue('id')")
## #end

## Sort out Mime-Type
#set($ct = $list.get($doc.getFirstValue('content_type').split(";"),0))
#set($filename = $doc.getFieldValue('resourcename'))
#set($filetype = false)
#set($filetype = $mimeExtensionsMap.get($ct))

## TODO: falling back to file extension is convenient,
## except when you don't have an icon for that extension
## example "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
## document with a .docx extension.
## It'd be nice to fall back to an "unknown" or the existing "file" type
## We sort of do this below, but only if the filename has no extension
## (anything after the last dot).

#if(!$filetype)
  #set($filetype = $filename.substring($filename.lastIndexOf(".")).substring(1))
#end

## #if(!$filetype)
##   #set($filetype = "file")
## #end
## #if(!$supportedMimeTypes.contains($filetype))
##   #set($filetype = "file")
## #end

## Row 1: Icon and Title and mlt link
<div class="result-title">
  ## Icon
  ## Small file type icons from http://www.splitbrain.org/projects/file_icons (public domain)
  <img src="#{url_root}/img/filetypes/${filetype}.png" align="center">

  ## Title, hyperlinked
  <!--a href="${url}" target="_blank"-->
    <b>$title</b></a>

</div>

## Row 2?: ID / URL
<div>
  <b>id:</b> #field('id')
</div>

## Resource Name
## <div>
##   #if($doc.getFieldValue('resourcename'))
##     Resource name: $filename 
##   #elseif($url)
##     <b>URL:</b> $url
##   #end
##   #if($ct)
##     ($ct)
##   #end
## </div>

#if($doc.getFieldValue('journalTitleStr'))
  <div>
    <b>Journal title:</b> #field('journalTitleStr')
  </div>
#end 
#if($doc.getFieldValue('pmc'))
  <div>
    <b>PMC:</b> #field('pmc')
  </div>
#end 
#if($doc.getFieldValue('pmid'))
  <div>
    <b>PMID:</b> #field('pmid')
  </div>
#end
#if($doc.getFieldValue('year'))
  <div>
    <b>Year:</b> #field('year')
  </div>
#end 

#if($doc.getFieldValue('author'))
  <div>
    <b>Author:</b> #field('author')
  </div>
#end

#if($doc.getFieldValue('abstract'))
  <div>
    <b>Abstract:</b> #field('abstract')
  </div>
#end 

## Main content of doc
<div class="result-body">
  #field('body')
</div>

#parse('debug.vm')
